[submodule "vendor/start-time-estimator"]
	path = vendor/start-time-estimator
	url = https://github.com/AutomatedProcessImprovement/start-time-estimator.git
[submodule "vendor/wittgenstein"]
	path = vendor/wittgenstein
	url = https://github.com/david-chapela/wittgenstein.git
[submodule "vendor/Prosimos"]
	path = vendor/Prosimos
	url = https://github.com/AutomatedProcessImprovement/Prosimos.git
[submodule "vendor/bama"]
	path = vendor/bama
	url = https://github.com/nielsmartin/bama.git
[submodule "vendor/batch-processing-discovery"]
	path = vendor/batch-processing-discovery
	url = https://github.com/AutomatedProcessImprovement/batch-processing-discovery.git
[submodule "vendor/pix-utils"]
	path = vendor/pix-utils
	url = https://github.com/AutomatedProcessImprovement/pix-utils.git
